<section class="sidebar">
    <a routerLink="" class="title-sidebar active bold">Sistema de administración de plantas e invernaderos</a>

    <a routerLink="/plantas">
        <i class="fa-solid fa-seedling gap-right fa-lg"></i>
        Plantas
    </a>

    <a routerLink="/gerentes">
        <i class="fa-solid fa-user gap-right fa-lg"></i>
        Gerentes
    </a>

    <a routerLink="/invernaderos">
        <i class="fa-solid fa-warehouse gap-right fa-lg"></i>
        Invernaderos
    </a>

    <!-- <a routerLink="" class="salir">
        <i class="fa-solid fa-right-from-bracket gap-right fa-lg"></i>
        Cerrar sesión
    </a> -->
</section>
